.box_1 {
  background-color: yellow;
  width: 100%;
  border: 5px solid black;
  margin: auto;
}

.box2 {
  background-color: yellow;
  width: 50%;
  border: 5px solid black;
  margin: auto;
}

.box3 {
  background-color: aquamarine;
  width: 20%;
  border: 5px solid black;
  margin: auto;
}
